body {
  background-image: url('./background.jpg');
  background-size: cover;
}

.landing-page {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 25px;
  border-radius: 25px;
  color: white;
  display: flex;
  width: 70vw;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.launch-button {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 50px;
}
