#root {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 80vh;
  width: 80vw;
  font-size: 150%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  color: white;
}

.clock {
  font-size: 150%;
  margin: 15px 0 30px 0;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.price {
  margin-top: 30px;
}
